@charset "UTF-8";

/* 초기화 */
*{
    margin:0;
    padding: 0;
    border : 0;
    list-style: none;
    text-decoration-style: none;
    text-decoration: none;
}

/* 아이콘 */

svg{
    width: 100%;
    height: 75px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
svg:hover{
    fill: #fff;
}
/* 사이드바 */
.sidebar_wrap{
    visibility: hidden;
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    width: 80vw;
    z-index: 10;
}


/* 헤더 */
.header_wrap{
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: 1 auto;

    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.header_wrap .header_logo{
    grid-column: 3/11;
    grid-row: 1/2;

    background-size: 100% 100%;
}


.header_wrap .header_menu{

    grid-column: 95/99;
    grid-row: 1/2;


}

.header_wrap .header_search{
    grid-column: 90/94;
    grid-row: 1/2;

}

/* 홈 커버 */
.cover_wrap{

}
.cover_fullscreen_grid{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
    background-size: cover;
    overflow: hidden;

}
.cover_fullscreen_grid .content_wrap{
    position: relative;
    grid-column: 21/61;
    grid-row: 31/81;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
}
.cover_fullscreen_grid .content_wrap .content_subject{
    position: relative;
    grid-column: 1/101;
    grid-row: 1/31;
}
.cover_fullscreen_grid .content_wrap .content_subject h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cover_fullscreen_grid .content_wrap .content_text{
    position: relative;
    grid-column: 1/101;
    grid-row: 31/81;
    margin-left: 10%;
}
.cover_fullscreen_grid .content_wrap .content_detail{
    background: #ff567a;
    margin-left: 30%;
    padding-left: 10%;
    position: relative;
    grid-column: 1/101;
    grid-row: 86/101;
}
.cover_fullscreen_grid .content_wrap .content_detail a{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.5em;
}